@font-face {
  font-family: "FuturaPT";
  font-weight: 400;
  font-style: normal;
  src:
  /* local(Futura), */
       url("./fonts/FuturaPTDemi.woff2") format("woff2"),
       url("./fonts/FuturaPTDemi.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-weight: 400;
  font-style: normal;
  src:
  /* local(Futura), */
       url("./fonts/FuturaPTBook.woff2") format("woff2"),
       url("./fonts/FuturaPTBook.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-weight: 300;
  font-style: normal;
  src:
  /* local(Futura), */
       url("./fonts/FuturaPTHeavy.woff2") format("woff2"),
       url("./fonts/FuturaPTHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  font-style: normal;
  src:
  /* local(Futura), */
       url("./fonts/FuturaPTMedium.woff2") format("woff2"),
       url("./fonts/FuturaPTMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src:
  /* local(Montserrat), */
       url("./fonts/Montserrat-Regular.woff2") format("woff2"),
       url("./fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src:
  /* local(Montserrat), */
       url("./fonts/Montserrat-Medium.woff2") format("woff2"),
       url("./fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src:
  /* local(Montserrat), */
       url("./fonts/Montserrat-Bold.woff2") format("woff2"),
       url("./fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Galdeano";
  font-weight: 400;
  font-style: normal;
  src:
  /* local(Montserrat), */
       url("./fonts/Galdeano-Regular.woff2") format("woff2"),
       url("./fonts/Galdeano-Regular.woff") format("woff");
}

:root {
  --font-family: "Futura PT", "Arial", sans-serif;
  --second-family:"Montserrat", "Arial", sans-serif;
  --third-family: "Galdeano", "Arial", sans-serif;
  --orange: #f60;
	--black: #172139;
	--light-grey: #f4f4f4;
	--white: #fff;
	--grey: #aeaeae;
  --red: #ff5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-style: normal;
}

/* img {
  max-width: 100%;
  height: auto;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.buttonAdd {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white);
  border: none;
  padding: 18px 50px;
  padding-left: 74px;
  border-radius: 5px;
  background-color: var(--black);
  background-image: url('./img/plus.svg');
  background-repeat: no-repeat;
  background-position: 50px 20px;
  cursor: pointer;
}

.body {
  /* min-width: 1600px;
  width: auto; */
  /* overflow-x: hidden; */
  width: 100vw;
  min-width: 1660px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  background-color: var(--light-grey);
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 20px;
  background-color: var(--white)
}

.header__button-exit {
  padding: 12px;
  background-color: transparent;
  border: none;
}

.main {
  display: grid;
  grid-template-columns: 290px 1fr;
  column-gap: 30px;

  padding-top: 30px;
}

.main__nav {
  width: 290px;
  background-color: var(--white);
  margin-bottom: 30px;
  /*потом margin удалить */
}

.nav__item {
  /* padding: 20px 0; */
  border-bottom: 1px solid var(--light-grey);
}

.nav__link {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--black);
  padding: 20px 15px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

/* .nav__link-button {
  width: 100%;
  border: none;
  background: transparent;
} */

.nav__button {
  width: 100%;
  background-color: var(--white);
  border: none;
  padding: 20px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--orange);
  display: flex;
  gap: 10px;
  justify-content: center;
}

.main__nav--close {
  width: 45px;
}

.main__nav--close .nav__link {
  padding: 15px;
}

.main__nav--close .link__text,
.main__nav--close .button__text {
  display: none;
  /* visibility: hidden; */
}

.main__nav--close .button__iconArrow {
  transform: rotate(180deg);
}

.main__workspace {
  width: 83.5vw;
  padding-right: 30px;
}

.location__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #000;
  margin-bottom: 25px;
}

.location__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.location__navigate {
  margin-bottom: 30px;
}

.navigate__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navigate__link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--black);

  display: block;
  padding: 10px 30px;
  background-color: var(--white);
  border-radius: 5px;
}

.navigate__link--current {
  background-color: var(--black);
  color: var(--white);
}

.workspace__tools {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.workspace__upgrade {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  border: none;
  border-radius: 5px;
  background-color: var(--black);
  padding: 16px 18px;
  padding-left: 49px;
  background-image: url('./img/iconSync.svg');
  background-repeat: no-repeat;
  background-position: 20px 15px;

  margin-bottom: 25px;
}

.workspace__upgrade span {
  font-size: 10px;
  text-align: center;
}

.workspace__search {
  display: flex;
  align-items: center;
}

.workspace__search input[type="checkbox"] {
  accent-color: var(--orange);
  width: 18px;
  height: 18px;
}

.workspace__search label {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin-left: 10px;
  margin-right: 25px;
}

.workspace__search input[type="text"] {
  width: 300px;
  height: 50px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 15px;
  padding-left: 39px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey);

  background-image: url('./img/search.svg');
  background-repeat: no-repeat;
  background-position: 20px 18px;
}

/* таблица */

.location__item {
  margin-bottom: 20px;
}

.location__list {
  display: flex;
  flex-direction: column;
}

.item__row {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.item__row--hidden {
  display: none;
}

.item__level2 {
  flex-wrap: wrap;
  margin-left: 35px;
  margin-bottom: 0;
}

.item__level2 div {
  width: 100%;
}

.item__level3 {
  margin-left: 78px;
}

.item__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url('./img/expandList.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.item__button--collapsList {
  background-image: url('./img/collapsList.svg');
}

.item__titleRow {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 15px;
  line-height: 120%;
  color: var(--black);
  position: relative;

  padding-left: 15px;
  margin-left: -15px;
}

.item__titleRow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 16px;
  background-image: url('./img/points.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.item__level2 .item__titleRow {
  font-weight: 600;
}

.item__level3 .item__titleRow {
  font-weight: 500;
}

.item__numericData {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--orange);
}

.item__editionTools {
  display: flex;
  gap: 30px;
}

.item__editionTools--hidden {
  display: none;
}

.editionTools__button {
  font-family: var(--second-family);
  font-size: 14px;
  padding-left: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.editionTools__button--edition {
  font-weight: 400;
  color: var(--orange);

  background-image: url('./img/fix.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.editionTools__button--delete {
  font-weight: 500;
  color: var(--red);
  background-image: url('./img/delete.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.table__addInfo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.table__addInfo--strong {
  font-weight: 700;
}

.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 30px;
  background-color: var(--white);
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  color: #a5a5a5;
}

.footer__documentation {
  margin-left: 580px;
}

.footer__documentation a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--orange);

  display: flex;
  align-items: end;
  gap: 15px;
}

/* формы создания и изменения локации */

.wrap-formEditionLocations {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.form-editionLocations {
  position: relative;
  top: 23vh;
  left: 35vw;
  padding: 25px 15px;
  width: 440px;
  height: auto;
  background: var(--white);
}

.form-editionLocations__title {
  margin-bottom: 17px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000;
}

.form-editionLocations__bodyOfForm {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
}

.form-changeLocation__label-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: var(--black);
  width: 360px;
}

.form-editionLocations__input {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  width: 360px;
  height: 50px;
  background: var(--light-grey);
  padding: 17px 25px;

  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black);
}

.form-changeLocation .form-editionLocations__input {
  margin-top: 3px;
}

.form-editionLocations__input:hover,
.form-editionLocations__input:focus,
.form-editionLocations__input:active {
  outline: none;
  border: 2px solid var(--orange);
}

.form-editionLocations__input::placeholder {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--grey);
}

.form-editionLocations__wrap-checkbox {
  display: flex;
  width: 360px;
  justify-content: space-between;

}

.form-editionLocations__wrap-buttons,
.settings__wrap-buttons {
  display: flex;
  width: 360px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 17px;
}

.form-editionLocations__button,
.settings__button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;

  border-radius: 5px;
  padding: 10px;
  border: none;
}

.form-createLocation__buttonCreate,
.form-changeLocation__buttonSave,
.settings__button--create {
  width: 193px;
  height: 50px;
  background: var(--black);
  color: var(--white);
  background-image: url(./img/save.svg);
  background-repeat: no-repeat;
  background-position: 40px 16px;
}

.form-createLocation__buttonReset,
.form-changeLocation__buttonReset,
.form-changeLocation__buttonDelete,
.settings__button--reset {
  border: 1px solid var(--black);
  width: 151px;
  height: 50px;
  background: var(--white);
  color: var(--black);
}

.form-changeLocation__buttonDelete {
  width: 193px;
  height: 50px;
  background-image: url(./img/delete.svg);
  background-repeat: no-repeat;
  background-position: 43px 18px;
}

.form-changeLocation__buttonSave {
  width: 100%;
  background-position: 115px 16px;
}

.form-editionLocations__label-checkbox {
  position: relative;
  width: 100%;
}

.form-editionLocations__label-checkbox::after {
  content: "";
  width: 24px;
  height: 24px;
  background-color:rgb(231, 208, 193);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 25px;
}

.form-editionLocations__label-checkbox::before {
  content: "";
  width: 52px;
  height: 28px;
  box-sizing: border-box;
  background-color: var(--light-grey);
  border-radius: 53px;
  position: absolute;
  top: 0;
  right: 0;
}

.form-editionLocations__checkbox:checked + .form-editionLocations__label-checkbox::after {
  transform: translateX(22px);
  background-color: var(--orange);
}

.form-editionLocations__checkbox:checked + .form-editionLocations__label-checkbox::before {
  background-color: rgb(233, 233, 233);
}

/* Настройки */

.settings__header {
  margin-bottom: 32px;
}

.settings__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #000;
  margin-bottom: 25px;
}

.settings__nav-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-list__item {

}

.nav-list__link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 37px;
  border-radius: 5px;
}

.nav-list__link--current {
  color: var(--white);
  background-color: var(--black);
}

.settingFieldsTable {
margin-bottom: 30px;
}

.settingFieldsTable__table {
  width: 100%;
  margin-bottom: 30px;
}

.settings__table tr {
  height: 60px;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

.table__header {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000;
  text-align: center;
  height: 60px;
}

.table__header tr td:nth-child(2) {
  text-align: left;
}

.table__body {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: var(--white);
}

.table__row {

}

.row__cell {
  width: 210px;
  height: 60px;
}

.row__cell--name {
  width: 600px;
}

.row__cell--description a {
  display: inline-table;
  width: 100%;
  height: 100%;
  background-image: url(./img/helpCircle.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.row__cell--sort input {
  width: 80px;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 5px;
  background-color: var(--white);
}

.row__cell input[type="checkbox"] {
  accent-color: var(--orange);
  width: 18px;
  height: 18px;
}

.row__cell--name {
  text-align: left;
  padding-left: 45px;
  background-image: url(./img/points.svg);
  background-repeat: no-repeat;
  background-position: 30px 24px;
}

.row__cell--name span {
  display: inline-block;
  width: 24px;
  height: 12px;
  margin-left: 12px;
  background-image: url(./img/fix.svg);
  background-repeat: no-repeat;
  /* background-position: 30px 22px; */
}

.settings__wrap-buttons {
  width: 380px;
  margin-right: 483px;
}

.settings__button--create {
  width: 210px;
}
